@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

#link1 {
    color: white;
}

#link2 {
    color: white;
}

#link3 {
    color: white;
}

.bg-color {
    background-image: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.nav-text {
    font-size: 40px;
    background: -webkit-radial-gradient(grey, black, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-family: "Lobster", sans-serif;
    padding: 20px;

}

.main-head {
    color: white;
    font-family: Protest Riot;
    text-shadow: 15px 15px #2b2e2c;
    font-size: 120px;
    margin-top: 100px;
}

.sub-para {
    color: black;
    font-family: Caveat;
    font-size: 30px;
    font-weight: bold;
}

.name-head {
    color: white;
    font-family: Protest Riot;
    text-shadow: 5px 5px black;
}

.icon {
    font-size: 50px;
}

.card {
    background-color: transparent;
    border-radius: 20px;

}

.text {
    color: black;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
}

.project-card {
    border-radius: 10px;
    color: white;
    background-color: transparent;
}

.follow-section {
    background-color: #E0E0E0;
}

.button {
    background-color: transparent;
    color: white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    font-family: Protest Riot;
}

.bg-footer {
    background-color: #2c3e50;

}

.project-icon {
    font-size: 100px;

}

.footer-text {
    color: white;
    font-weight: bold;
}

span {
    color: black;
    font-weight: bold;
}

.project-heading {
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.project-description {
    font-weight: bold;
}

.footer-icon {
    font-size: 45px;

}

.footer-tag {
    color: white;
    font-size: 30px;
}